* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background: #ECF0F1;
    color: #2C3E50;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #2C3E50;
    color: white;
    padding: 20px;
}

nav {
    background: #2C3E50;
    padding: 10px;
}

nav a {
  color: rgb(0, 0, 0);
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s;
  display: inline-block;
  background-color: #f2f4f5;
  padding: 8px 20px;
  border-radius: 6px;
}

nav a:hover {
  color: #ffffff;
  transform: translateY(-4px);
  background-color: #0e0e0e;
  transition: transform 0.3s, background-color 0.3s;
}

main {
    padding: 20px;
    flex: 1;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background: #2C3E50;
    color: white;
}

tr:hover {
    background: #dfe6e9;
    transition: 0.3s;
}

form {
    background: white;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input:focus,
form textarea:focus {
    border-color: #3498DB;
    outline: none;
}

form button {
    width: 100%;
    padding: 10px;
    background: #2C3E50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.4;
}

form button:hover {
    background: #1ABC9C;
}

footer {
    background: #2C3E50;
    color: white;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

@media (max-width: 600px) {

    nav {
        display: block !important;
        padding: 0 !important;
    }

    nav a {
        display: block !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 20px !important;
        text-align: center !important;
        border-radius: 0 !important;

        background-color: #f2f4f5 !important;
        color: #000 !important;

        border-bottom: 1px solid #ccc;
    }

    nav a:hover {
        background-color: #0e0e0e !important;
        color: #fff !important;
        transform: none !important;
    }
}